version: '2'

services:
  {{ SERVICE_NAME }}:
    container_name: {{ SERVICE_NAME }}
    image: jenkins/jenkins:alpine
    volumes:
     - /home/jenkins:/var/jenkins_home
    environment:
     - JAVA_OPTS="-Djavax.net.ssl.trustStore=/var/jenkins_home/java_ca_certs"
     - TERM=xterm-256color
    ports:
     - "0.0.0.0:8080:8080"
